<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <property name="FILE" value="not-so-rotten-tomatoes-api/application.log" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />



    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
    <logger name="org.springframework" level="INFO">
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="com.revature.aspects.LoggingAspect" level="DEBUG">
        <appender-ref ref="FILE" />
    </logger>

</configuration>